.App {
  width: 250%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  margin-left: -450px;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(./img/Background.jpg) no-repeat center;
    background-size: cover;
    /* filter: grayscale(100);  */
    z-index: -1;
}

.leftMenu {
  /* ...các thuộc tính khác */
  transition: background 0.5s ease; /* mượt mượt */
}

.rightMenu {
  transition: background 0.5s ease; /* cho đồng bộ luôn */
}
