@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sigmar', sans-serif; /* Áp dụng toàn bộ web */


    user-select: none; /* Ngăn chọn văn bản */
    -webkit-user-select: none; /* Cho trình duyệt WebKit (Chrome, Safari) */
    -moz-user-select: none; /* Cho Firefox */
    -ms-user-select: none; /* Cho trình duyệt Edge cũ */

}

img {
  pointer-events: none; /* Ngăn tương tác chuột */
  user-drag: none; /* Chặn kéo trên Safari */
  -webkit-user-drag: none; /* Chặn kéo trên Chrome & Edge */
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
  
*::-webkit-scrollbar {
    display: none;
}
